{% extends "Catalog/base.html" %}
{% load static %}
{% block title %}
    {% if kind %}
        {{ kind.name }}
    {% else %}
        Products
    {% endif %}
{% endblock %}

{% block aside-kind %}
    {% if not kind %}
        {% for kind in kinds %}
            <p><a href="/compot/filter/{{kind.slug}}">{{kind.name}}</a></p>
        {% endfor %}
    {% elif kind %}
        <a href="/compot">Back</a>
    {% endif %}
{% endblock %}
{% block content %}
    {% for product in products %}
    <div class="card">
        <div class="card-name">
            <h3>{{product.name}}</h3>
        </div>
        <div class="card-img">
            {% if product.image %}
                <img src="{{ product.image.url }}">
            {% else %}
                <p>aaa</p>
            {% endif %}
        </div>
        <h5>
            вид: {{ product.kind }}
        </h5>
        <h5>
            Категории:
            {% for category in product.category.all %}
                    <p>  {{category}}</p>
            {% endfor %}
        </h5>
        <p>Цена: {{product.price}}₽</p>
        <p>В наличии {{product.stock}} штук</p>
    </div>
    {% endfor %}
{% endblock %}